@media (max-width: 1300px) { 
  

  .hero__hero-bg {
    flex-wrap: nowrap;
  }

  .hero-wrap {
    flex-shrink: unset;
    &__name {
      margin: 30px 0 30px -5px;
      line-height: 80px;
    }
  }
}

@media (max-width: 1160px) { 
  .hero__hero-bg {
    flex-wrap: wrap;
    min-height: 100vh;
  }

  .hero-wrap,
  .my-photo-wrap {
    width: 100%;
    align-items: center;
  }

  .hero-wrap {
    margin-bottom: 70px;
  }

  .my-photo-wrap {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: unset;

  }
}

@media (max-width: 850px) {
  .hero-wrap__name {
    text-align: center;
  }
  
  .sidebar h1 {
    font-size: 35px;
  }

  .hero {
    margin-top: 30px;
  }
}

@media (max-width: 735px) {
  .navbar__navbar-list__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .navbar__navbar-list {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    text-align: left;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    background: $background-gradient;
    transform: translateY(-90px);
    transition: all 0.3s ease-in;
    z-index: -1;
    &__list-item a {
      padding: 5px;
    }
  }

  .contacts {
    flex-direction: column;
    gap: 30px;
    font-size: 26px;
    width: 100%;
  }

  .hero-wrap__paragraph2 {
    margin-bottom: 65px;
    text-align: center;
  }

  

  .modal.light-theme .close-modal {
    color: #000;
  }

  .navbar__navbar-list.light-theme {
    background: $background-gradient-light;
  }


  .sidebar {
    width: 100%;
  }

  .main-slide {
    width: 100%;
    left: 0;
    
  }

  .container .controls button {
    
    position: absolute;
    left: 50%;
    top: calc(100% - 48px);
    
    z-index: 100;

  }

  .container .controls .up-button {
    transform: translateY(0);
  }

}

@media (max-width: 540px) {
  .hero-wrap__name {
    font-size: 50px;
    line-height: 65px;
  }
  .portfolio__title {
    font-size: 40px;
  }
  .slider {
    height: 300px;
  }

  .form {
    width: 100%;
    padding: 10px;
  }

  .form input {
    width: auto;
  }
  .navbar__link {
    margin-right: 0;
  }
}

@media (max-width: 436px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 360px) {
  .contacts__tel,
  .contacts__mail {
    font-size: 20px;
  }
  .hero-wrap__name {
    font-size: 45px;
  }
}
