.hero {
  margin-top: 90px;
  padding-top: 130px;
  position: relative;
  min-height: 800px;
  
  &__hero-bg {
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  &::after {
    position: absolute;
    content: "";
    height: 200px;
    width: 100%;
    bottom: 0;
    background-color: #0b0c23;
    background-image: url('../img/hero/bg-tags.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-top: 2px solid #5053a8;
  }
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  
  &__name {
    margin: 55px 0 55px -5px;
    display: block;
    font-size: 70px;
    font-weight: 500;
    order: 2;
  }
  &__paragraph, &__paragraph2 {
    font-size: 32px;
    margin: 0;
  }
  &__paragraph {
    order: 1;
  }
  &__paragraph2 {
    margin-bottom: 35px;
    order: 3;
    font-weight: 400;
    .web {
      color: #fff;
      animation: flicker 1.5s infinite alternate;
      
    }
    .sites {
      color: #fff;
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px $special-color,
        0 0 80px $special-color,
        0 0 90px $special-color,
        0 0 100px $special-color,
        0 0 150px $special-color;

    }
    @keyframes flicker {
    
      0%, 18%, 22%, 25%, 53%, 57%, 100% {
    
          text-shadow:
          0 0 4px #fff,
          0 0 11px #fff,
          0 0 19px #fff,
          0 0 40px $special-color,
          0 0 80px $special-color,
          0 0 90px $special-color,
          0 0 100px $special-color,
          0 0 150px $special-color;
      
      }
      
      20%, 24%, 55% {        
          text-shadow: none;
      }    
    }
  }
}

.contacts {
  order: 4;
  display: flex;
  width: 640px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;

  &__btn {
    padding: 20px;
    border: 2px solid $special-color;
    border-radius: 5px;
    background: $background-gradient;
    cursor: pointer;
    color: $font-color;
    font-size: 16px;
    &:hover {
      background: inherit;
    }
  }

  &__tel, &__mail {
    position: relative;
    padding: 10px;
    padding-left: 25px;

    &:hover {
      color: $special-color;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: $background-gradient;
      transition: width 200ms;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__tel {
    background: url('../img/hero/icon-phone.svg') no-repeat;
    background-position: left;
    
  }

  &__mail {
    background: url('../img/hero/icon-email.svg') no-repeat;
    background-position: left;
    
  }
}

.my-photo-wrap {
  flex-basis: 418px;
  flex-shrink: 0;
}

.my-photo {
  border-radius: 5px;
  box-shadow: 0 0 20px $special-color;
  
}

.socials {
  order: 5;
  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  &__list-item a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px $special-color;
  }
  &__list-item:hover {
    transform: scale(1.3);
    transition: all 0.3s ease-in;
    box-shadow: 0 0 15px $special-color;
    border-radius: 50%;
    box-shadow: 0 0 15px $special-color;
  }
  
}

//light-theme
.hero.light-theme {
  color: $font-color-light;
  &::after {
    background-color: #7abdf2;
  }
}

.hero-wrap.light-theme {
    .web {
      color: #000;
      text-shadow:
        0 0 4px #76bbf6,
        0 0 11px #76bbf6,
        0 0 19px #76bbf6;
      
      animation: none;
      
    }
    .sites {
      color: #000;
      text-shadow:
        0 0 4px #76bbf6,
        0 0 11px #76bbf6,
        0 0 19px #76bbf6;
    }
}

.contacts.light-theme {

  .contacts__btn {
    border: 2px solid $special-color-light;
    background: $background-gradient-light;
    &:hover {
      background: inherit;
      color: $font-color-light;
    }
  }

  .contacts__tel, .contacts__mail {
  
    &:hover {
      color: $special-color-light;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: $background-gradient-light;
      transition: width 200ms;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .contacts__tel {
    background: url('../img/hero/icon-phone-black.svg') no-repeat;
    background-position: left;
    
  }

  .contacts__mail {
    background: url('../img/hero/icon-email-black.svg') no-repeat;
    background-position: left;
    
  }
}
