.portfolio {
  min-height: 800px;
  padding-top: 50px;
  &__title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 80px;
  }
}

.slider {
  position: relative;
  overflow: hidden;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 0 20px #7c6afa;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  opacity: 1;
  &:hover .more{
    transition: all 0.3s ease-in;
    opacity: 1;
    visibility: visible;
  }
  
}

.more {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  a {
    font-size: 65px;
  }
}

.buttons {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

.buttons:hover {
  color: #222;
}

.buttons:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

//slider backgrounds
.site {
  position: relative;
}

.sidebar-bg-1 {
  background: linear-gradient(229.99deg, #f6f6f6 -26%, #bb9790 145%);
}

.sidebar-bg-2 {
  background: linear-gradient(229.99deg, #1080c0 -26%, #861924 145%);
}

.sidebar-bg-3 {
  background: linear-gradient(229.99deg, #775c25 -26%, #546e31 145%);
}

.sidebar-bg-4 {
  background: linear-gradient(229.99deg, #20222c -26%, #282a3a 145%);
}

.sidebar-bg-5 {
  background: linear-gradient(229.99deg, #76a490 -26%, #2e2224 145%);
}

.sidebar-bg-6 {
  background: linear-gradient(229.99deg, #ea8d0a -26%, #299a00 145%);
}

.sidebar-bg-7 {
  background: linear-gradient(229.99deg, #d8d4cc -26%, #907c6c 145%);
}



.glo {
  background: url('../img/portfolio/3dGlo.jpg');
  filter: brightness(400%);
}

.mr-donalds {
  background: url('../img/portfolio/mr_donalds.jpg') ;
}

.relax {
  background: url('../img/portfolio/relax.jpg');
}

.uber {
  background: url('../img/portfolio/uber.jpg');
  filter: brightness(200%);
}

.pulse {
  background: url('../img/portfolio/pulse.jpg');
}

.willberries {
  background: url('../img/portfolio/willberrys.jpg');
}

.calculator {
  background: url('../img/portfolio/calculator.jpg');
}
