//main theme colors
$font-color: #FFFFFF;
$background-color: #000000;
$background-gradient: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
$special-color: #7C6AFA;

//light-theme colors
$font-color-light: #000;
$background-color-light: #f5f6f8;
$background-gradient-light: linear-gradient(94.26deg, #0b0c23 9.51%, #7abdf2 90.23%);
$special-color-light: #000;

//imports
@import './buttons';
@import './header';
@import './hero';
@import './popupForm';
@import './portfolio';
@import './adaptive';

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: $font-color;
    min-height: 100vh;
    background-color: $background-color;
    
}

.overlay {
    visibility: hidden;
}

//light-theme
body.light-theme {
    background: $background-color-light;
}
